img {
    height: 95vh;
    width: 100%;
}

.container {
    position: relative;
    text-align: center;
}
.header {
    position: absolute;
    font-size: 30px;
    top: 70px;    
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
}
.body {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
}
input.massBox {
    font-size: 17px;
    width: 150px;
}

select#planets {
    font-size: 16px;
    width: 180px;
    height: 26px;
}

option[value=""][disabled] {
    display: none;
}

.selection {
    margin-bottom: 43px;
}

.planet-container {
    position: relative;
    height: 331px;
    width: 683px;
    background-color: white;
    opacity: 0.3;
}
.planet-image {
    position: absolute;
    left: 5%;
    height: 262px;
    width: 289px;
    top: 10%;
    background-color: white;
}
button {
    font-size: 18px;
}
img.image {
    height: 100%;
}
.description {
    position: absolute;
    top: 19%;
    left: 51%;
    height: 204px;
    width: 311px;
    background-color: white;
}
#des {
    color: black;
    font-size: 23px;
}
div#planet-name {
    font-size: 38px;
    margin: 20px;
}
div#mass-des {
    font-size: 25px;
    font-weight: bold;
}